@media all and (min-width: 1600px) {
  /* ファーストビュー */

  .catch-copy-1 {
    padding-top: 180px;
  }

  .catch-copy-sub-1 {
    padding-top: 2em;
  }

  .catch-copy-sub-2 {
    padding-top: 2em;
  }

  .cta {
    margin-top: 80px;
  }
}

@media all and (max-width: 1000px) {
  /* ヘッダー */
  header {
    width: 100%;
    left: 0%;
  }

  .top {
    display: block;
  }

  /* ロゴビュー */

  .logo-view {
    display: none;
  }

  /* ファーストビュー */

  .first-view-container {
    width: 100%;
  }

  .catch-copy-1 {
    padding-top: 230px;
  }

  .catch-copy-sub-1 {
    padding-top: 2em;
  }

  .catch-copy-sub-2 {
    padding-top: 2em;
  }

  .cta {
    margin-top: 80px;
  }

  /* ボディーコピー */

  .body-copy-container {
    width: 100%;
  }

}

@media all and (max-width: 670px) {
  .openbtn{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top:15px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height:50px;
    display: none;
  }

  .openbtn {
    display: block;
  }

  .header-right {
    display: none;
  }
  /* メニュー一覧 */

  .mobile-logo-view {
    height: 25vh;
    width: 80%;
    left: 0%;
    background-color: #ffffff;
    top: 70vh;
    left: 10%;
    position: absolute;
    z-index: 999;
  }

  .mobile-logo-text {
    width: 90%;
    margin-left: -62%;
    margin-top: 34%;
    position: absolute;
  }
  
  .mobile-logo {
    width: 34%;
    margin-top: 3%;
    margin-left: 34%;
  }

  .mobile-gcc-explanation {
    font-size: 4%;
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: absolute;
    top: 73%;
    left: 0%;
  }

  /* ファーストビュー */
  .catch-image {
    background-position: left -120px top 30px;
  }

  .catch-copy-1 {
    font-size: 6vh;
    padding-top: 40%;
  }

  .catch-copy-sub-1 {
    padding-top: 10%;
  }

  .catch-copy-sub-2 {
    padding-top: 10%;
  }

  .cta {
    margin-top: 8vh;
    margin-left: 28%;
  }

  /* ボディーコピー */
    /* タイトル */
  h2 {
    font-size: 26.5px;
    margin: 30px 0px 30px 30px;
  }

    /* メッセージ */
  
  .message h1{
    padding-left: 35px;
    font-size: 35px;
  }
  
  .message p{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 22px;
    }
    

    /* メンバー */

  .menber-background {
    width: 80%;
  }

  .menber-explanation {
    font-size: 20px;
  }

  .menber-comment {
    font-size: 33px;
  }

  .menber-comment-content {
    font-size: 20px;
    padding-bottom: 8%;
  }

    /* イベントの詳細 */

  td {
    font-size: 15px;
  }

    /* 参加者の声 */

  .feedback-1 {
    width: 80%;
  }

  .satisfaction {
    font-size: 25px;
  }

  .feedback-comment {
    font-size: 16px; 
  }

  .feedback-name {
    font-size: 13px;
  }

  .feedback-2 {
    width: 80%;
  }

    /* クロージング */
  .closing-background {
    width: 80%;
  }
    
  .closing-top-message {
    font-size: 30px;
  }
    
  .closing-sub-message {
    font-size: 20px;
  }

  /* フッター */

  .footer p{
    left: 17%;
    font-size: 11px;
  }
}

@media all and (max-width: 380px) {
  /* メニュー一覧 */

  .mobile-logo-view {
    height: 26vh;
    width: 80%;
    left: 0%;
    background-color: #ffffff;
    top: 70vh;
    left: 10%;
    position: absolute;
    z-index: 999;
    padding-bottom: 1vh;
  }

  .mobile-logo-text {
    width: 70%;
    margin-left: -51%;
    margin-top: 29%;
    position: absolute;
  }
  
  .mobile-logo {
    width: 30%;
    margin-top: 2%;
    margin-left: 35%;
  }

  .mobile-gcc-explanation {
    font-size: 4%;
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 0%;
  }

  /* ファーストビュー */

  .catch-copy-1 {
    font-size: 7vh;
    padding-top: 32%;
  }

  .catch-copy-sub-1 {
    font-size: 3vh;
    padding-top: 5%;
  }

  .catch-copy-sub-2 {
    font-size: 3vh;
    padding-top: 5%;
  }

  .cta {
    margin-top: 9vh;
    margin-left: 28%;
  }

}